extends layout

block content
  h1= title
  
  ul
  - person_list.sort(function(a, b) {let textA = a.firstName.toUpperCase(); let textB = b.firstName.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
  each person in person_list
    li 
      a(href=person.url) #{person.firstName} 
      | (#{person.personFunction})

  else
    li There are no people.