extends layout

block content
  h1= title
  
  ul
  - course_list.sort(function(a, b) {let textA = a.courseTitle.toUpperCase(); let textB = b.courseTitle.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
  each course in course_list
    li 
      a(href=course.url) #{course.courseTitle} 
      | (#{course.promo.title})

  else
    li There are no courses.